@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular") url("../fonts/Roboto-Regular.ttf")
    format("truetyp");
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

* {
  transition: all 0.3s;
  outline: none !important;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

input {
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img,
iframe {
  max-width: 100%;
}

svg {
  transition: fill 0.3s;
  -webkit-transition: fill 0.3s;
  -moz-transition: fill 0.3s;
  -ms-transition: fill 0.3s;
  -o-transition: fill 0.3s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav.navbar.navbar-expand-lg {
  padding-right: 52px;
  padding-left: 0;
  padding-top: 15px;
}

a.navbar-brand {
  width: 400px;
  margin-right: 62px;
  text-align: center;
  min-width: 400px;
}

.input-group.top-search {
  width: 380px;
  height: 32px;
  max-width: 100%;
}

.input-group.top-search {
  height: 32px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.input-group.top-search button {
  width: 60px;
  background: #1770d5 url(../img/ico/search-glass.svg) no-repeat center;
  background-size: 16px;
  border-radius: 0px 2px 2px 0px;
  color: #fff;
  height: 32px;
  line-height: 0;
}

input.form-control {
  background: #ffffff;
  border-radius: 2px;
  border: none;
  height: 32px;
}

.menu__item > a {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

li.menu__item:not(:last-child) {
  margin-right: 44px;
}

.lang-top {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.lang-switch {
  display: flex;
}

.lang-switch .dropdown button,
.lang-switch .dropdown.show button {
  background: no-repeat;
  border: none;
  color: #000;
  box-shadow: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  text-transform: uppercase;
  color: #000000;
}

.dropdown.show {
}

.top-basket span.badge {
  top: -6px;
  position: absolute;
  right: -7px;
  width: 22px;
  height: 22px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  line-height: 1.4;
  font-weight: 100;
}

.top-basket {
  position: relative;
}

.dropdown-toggle::after {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 1px;
}

div#navbarNav {
  justify-content: space-between;
}

body {
  min-height: 100vh;
  background: #edf3f8;
}

aside {
  width: 400px;
  background: #fff;
  min-height: 100px;
  margin-right: 62px;
  float: left;
  padding: 30px 40px;
  text-align: center;
  position: relative;
}

main {
  min-height: 100px;
  float: right;
  width: calc(100% - 462px);
  padding-right: 52px;
  overflow-x: auto;
  transition: 0.5s width;
}

.tab-pane {
  min-height: 160px;
  background: #edf3f8;
  border: none;
  padding: 0;
}

select.minimal {
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  width: 202px;
  height: 44px;
  text-align: center;
  text-align-last: center;
  font-weight: 600;
  font-size: 12px;
}

.options1 {
  display: flex;
  justify-content: space-between;
}

/*checkbox green*/
.opt-switch input[type="checkbox"] {
  appearance: none;
  height: 22px;
  width: 41px;
  margin: 5px;
  outline: none;
  transition: background-color 0.3s;
  background: #d0d0d0;
  border-radius: 16px;
  cursor: pointer;
}
.opt-switch input[type="checkbox"]:checked {
  background: #64b40f;
  transition: background-color 0.3s;
}
.opt-switch input[type="checkbox"]::before {
  display: block;
  position: relative;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
  content: "";
  transition: left 0.5s;
}
.opt-switch input[type="checkbox"]:checked::before {
  background-color: white;
  margin: 3px 2px;
  left: 20px;
  transition: left 0.5s;
}
/*checkbox*/

/*checkbox star*/
.opt-star input[type="checkbox"] {
  appearance: none;
  height: 18px;
  width: 18px;
  outline: none;
  cursor: pointer;
}

.opt-star input[type="checkbox"]::before {
  display: block;
  position: relative;
  height: 18px;
  width: 18px;
  background: url(../img/ico/star-empty.png) no-repeat;
  content: "";
  background-size: cover;
}
.opt-star input[type="checkbox"]:checked::before {
  height: 18px;
  width: 18px;
  background: url(../img/ico/star-fill.svg) no-repeat;
  background-size: cover;
}
/*checkbox*/

/*radio img*/
input[type="radio"].forma {
  display: none;
}

.label-radio-forma {
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 36px;
  display: inline-block;
  color: transparent;
  margin-bottom: 0;
}

.label-radio-forma:not(:last-child) {
  margin-right: 20px;
}

.label-radio-forma:before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  border: none;
  background: transparent;
  margin-right: 5px;
  position: absolute;
  left: 0;
}

.label-radio-forma.forma-sun:before {
  background: url(../img/ico/sun-grey.svg);
}

.label-radio-forma.forma-winter {
  background: url(../img/ico/snow-grey.svg);
}
.label-radio-forma.forma-sunwinter:before {
  background: url(../img/ico/snow-sun-grey.svg);
}

input[type="radio"].forma:checked + .label-radio-forma.forma-sun:before {
  background: url(../img/ico/sun-blue.svg);
}

input[type="radio"].forma:checked + .label-radio-forma.forma-winter {
  background: url(../img/ico/snow-blue.svg);
}
input[type="radio"].forma:checked + .label-radio-forma.forma-sunwinter:before {
  background: url(../img/ico/snow-sun-blue.svg);
}

input[type="radio"]forma:checked + .label-radio-forma {
  color: #fff;
}
/*radio img*/

.options2 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.options2 > div {
  display: flex;
  align-items: center;
}

.options2 .opt-radio-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
}

.opt-radio.opt-switch-img .opt-radio-title {
  margin-right: 15px;
  font-size: 16px;
}

.opt-select-title {
  font-weight: 600;
  margin-right: 8px;
  font-size: 13px;
}

.nav-tabs .nav-link.active {
  font-weight: 600;
  font-size: 16px;
  color: #910f27;
  border-color: #fff;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 0px 0px;
  z-index: 5;
  position: relative;
}

.tab-content {
  position: relative;
  z-index: 6;
  min-width: 1350px;
}

.nav-tabs {
  border: none;
  position: relative;
  min-width: 1350px;
}

.nav-tabs .nav-link {
  background: #f4f7f9;
  border-radius: 0px 4px 0px 0px;
  width: 192px;
  text-align: center;
  color: #515151;
  font-weight: 600;
}

.nav-item.reset-button {
  width: 250px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-item.reset-button button.nav-link {
  width: 100%;
  text-align: left;
  background: #f4f7f9 url(../img/ico/refresh.svg) no-repeat;
  background-position: 93% center;
  border-radius: 0px 4px 0px 4px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 20px;
}

img.your-photo {
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.options {
  padding: 30px 20px 20px;
  border-radius: 0px 0px 4px 4px !important;
  background: #ffff;
}

.table thead th,
.table thead td,
.table td,
.table th {
  border: none;
  padding: 0;
}

tbody > tr > td,
tbody > tr > th {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.table.filter-results span {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.add-number input {
  width: 50px !important;
  height: 25px;
  max-width: 50px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  padding: 0;
  text-align: center;
}

.add-number button.btn {
  background: #1770d5 url(../img/ico/union-wite-2.svg) no-repeat center;
  border-radius: 0px 4px 4px 0px !important;
  height: 25px;
  line-height: 0;
  color: #fff !important;
  width: 50px;
  background-size: 15px;
}

button.garage {
  background: #1770d5 url(../img/ico/garazh.svg) no-repeat center;
  border-radius: 4px !important;
  height: 25px;
  line-height: 0;
  color: #fff !important;
  width: 36px;
  background-size: 13px;
}

button:hover,
.add-number button.btn:hover,
.input-group.top-search button:hover,
button:active,
.add-number button.btn:active,
.input-group.top-search button:active {
  background-color: rgba(23, 112, 213, 0.6);
  border: none;
  outline: none;
}

.table td span {
  background: #fff;
  height: 56px;
  display: flex;
  margin-bottom: 6px;
  align-items: center;
}

td.add-row span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  /* padding-left: 20px; */
  background: #fff;
  height: 56px;
  align-items: center;
  width: 100%;
  border-radius: 0 4px 4px 0;
}

.input-group.add-number {
  width: auto;
}

td.add-row {
  width: 190px;
}

.table.filter-results tbody > tr > th span {
  background: #fff;
  display: flex;
  height: 56px;
  border-radius: 4px 0 0 4px;
  align-items: center;
  text-align: center;
  padding-left: 30px;
  font-size: 15px;
  color: #1870d5;
}

.table.filter-results thead tr th {
  height: 50px;
  vertical-align: middle;
  font-size: 14px;
}

.table.filter-results thead tr th:first-child {
  padding-left: 30px;
}

.table.filter-results thead tr th:last-child {
  padding-left: 20px;
}

.opt-radio.opt-star {
  margin-right: 8px;
}

.table td span > .status {
  margin: 0;
  height: 22px;
  width: 95px;
  background: #ebfaec;
  border-radius: 4px;
  color: #278a50;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  padding: 3px 15px;
}

.table td span > .status.blue {
  background: #ebeffa;
  color: #1770d5;
}

.table td span > .status.red {
  background: #faebeb;
  color: #910f27;
}

.pagination .page-item .page-link {
  border: 1px solid #bdbdbd;
  border-radius: 0;
  margin: 0 4px;
  width: 35px;
  height: 35px;
  background: transparent;
  font-size: 18px;
  line-height: 1;
  color: #0b1423;
  padding: 8px 0;
  text-align: center;
}

.pagination .page-item.active .page-link {
  background: #1770d5;
  color: #fff;
}

.pagination {
  margin: 70px auto;
  width: fit-content;
}

aside h1 {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 1em auto;
}

h1.main-title {
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 0.7em;
  padding-left: 1em;
  min-width: 1350px;
}

.user-buttons button {
  width: 120px;
  height: 36px;
  background: #262626;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 1em;
}

.user-buttons button img {
  margin-right: 8px;
}

.user-buttons button.user-exit {
  background: #910f27;
}

.user-buttons button img {
  margin-right: 8px;
}

.user-choice p {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 6px;
  text-align: left;
}

.user-choice {
  padding: 0 20px;
}

.user-choice select.minimal {
  width: 100%;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.user-manager img {
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.user-manager {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
  position: relative;
}

p.manager-contacts {
  position: absolute;
  top: -280px;
  left: 20px;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-between;
  display: none;
}

p.manager-contacts.show-contact {
  display: flex;
}

p.name-manager {
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  color: #000000;
  font-weight: 700;
}

.manager-info {
  text-align: left;
  margin-left: 15px;
}

p.title-manager {
  font-size: 12px;
}

.user-finances {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1), 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  padding: 25px 25px 15px;
}

.user-finances p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7em;
  align-items: center;
}

.user-finances p span:first-child {
  font-size: 12px;
}

.user-finances p span:last-child {
  font-size: 16px;
  font-weight: 600;
}

p.finance-title span {
  font-size: 18px !important;
  font-weight: 600;
  text-transform: uppercase;
}

p.debt span:last-child {
  color: #910f27;
}

p.pzd span:last-child,
p.pzd2 span:last-child {
  color: #910f27;
  font-size: 15px;
}

p.redblock {
  flex-direction: column;
  background: rgba(145, 15, 39, 0.1);
  border-radius: 0px 0px 14px 14px;
  font-size: 14px;
  /* line-height: 16px; */
  color: #910f27;
  padding: 15px 0;
  margin-left: -25px;
  width: calc(100% + 50px);
  margin-bottom: -15px;
}

p.redblock span:last-child {
  font-size: 22px;
}

.user-order {
  background: #ffffff;
  /* main */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1), 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  margin: 20px auto;
  padding: 25px;
  font-size: 12px;
}

p.redblock span:first-child {
  font-size: 14px;
}

.user-order p {
  display: flex;
  justify-content: space-between;
}

p.order-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 25px;
}

p.closed span:last-child,
p.shipped span:last-child,
p.procces span:last-child {
  width: 80px;
  height: 20px;
  left: 253px;
  top: 976px;
  background: #ebfaec;
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  color: #278a50;
}

p.order-title span:last-child {
  font-size: 13px;
  text-transform: none;
}

p.closed,
p.shipped {
  margin-bottom: 12px;
}

p.shipped span:last-child {
  background: #faf7eb;
  color: #e4a700;
}

p.procces span:last-child {
  background: #ebeffa;
  color: #1770d5;
}

p.closed span:nth-child(2),
p.shipped span:nth-child(2),
p.procces span:nth-child(2) {
  font-weight: 600;
}

.user-links a span:first-child {
  background: #ffffff;
  /* main */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1), 0px 2px 12px rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 80px;
}

.user-links a span:last-child {
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}

.user-links {
  display: flex;
}

span.text-new {
  color: #1770d5;
}

span.text-pop {
  color: #64b40f;
}

footer {
  background: #0b1423;
  color: #fff;
  padding: 80px 0;
}

ul.footer-nav li a {
  font-size: 18px;
  line-height: 2.5em;
  /* or 100% */
  color: #ffffff;
}

.work-time {
  font-size: 18px;
  line-height: 2em;
}

p.work-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 2.5;
  /* identical to box height, or 100% */
  color: #ffffff;
  margin-bottom: 0.5em;
}

p.work-subtitle {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 1em;
}

p.work-hour {
  display: flex;
  justify-content: space-between;
  max-width: 170px;
}

.logo-footer {
  padding-left: 45px;
  padding-top: 15px;
}

.worked-on {
  padding-right: 60px;
  text-align: right;
  font-size: 18px;
  line-height: 2.5em;
}

.menu,
.options-menu {
  display: none;
}

.lock-scroll {
  overflow: hidden;
}

.pc-close-aside {
  width: 20px;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

aside.aside-pc-close {
  left: -400px;
  margin-right: 0;
  position: absolute;
  transition: 0.5s all;
}

main.main-pc-full-width {
  width: 100%;
  padding: 0 15px;
  transition: 0.5s all;
}

aside.aside-pc-close .pc-close-aside {
  right: -35px;
  top: 0;
  transform: rotate(180deg);
  background: #fff;
  padding: 5px;
  width: 35px;
}

h1.main-title,
.nav-tabs,
.tab-content {
  min-width: 1100px;
}

/*scroll*/
/* полоса прокрутки (скроллбар) */
main::-webkit-scrollbar {
  width: 24px; /* ширина для вертикального скролла */
  height: 10px; /* высота для горизонтального скролла */
  background-color: #ffffff;
}

/* ползунок скроллбара */
main::-webkit-scrollbar-thumb {
  background-color: #1770d5;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

/* Стрелки */

main::-webkit-scrollbar-button:vertical:start:decrement {
  background: linear-gradient(120deg, #ffffff 40%, rgba(0, 0, 0, 0) 41%),
  linear-gradient(240deg, #1770d5 40%, rgba(0, 0, 0, 0) 41%),
  linear-gradient(0deg, #1770d5 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

main::-webkit-scrollbar-button:vertical:end:increment {
  background:
      linear-gradient(300deg, #1770d5 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(60deg, #1770d5 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(180deg, #1770d5 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

main::-webkit-scrollbar-button:horizontal:start:decrement {
  background:
      linear-gradient(30deg, #1770d5 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(150deg, #1770d5 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(270deg, #1770d5 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}

main::-webkit-scrollbar-button:horizontal:end:increment {
  background:
      linear-gradient(210deg, #1770d5 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(330deg, #1770d5 40%, rgba(0, 0, 0, 0) 41%),
      linear-gradient(90deg, #1770d5 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #f6f8f4;
}
/*scroll*/

/*MEDIA*/

@media only screen and (max-width: 1800px) {
  select.minimal {
    width: 165px;
  }

  .label-radio-forma:not(:last-child) {
    margin-right: 10px;
  }

  .options2 .opt-radio-title {
    font-size: 12px;
  }

  .opt-select-title {
    font-size: 12px;
  }

  .opt-radio.opt-switch-img .opt-radio-title {
    font-size: 15px;
    margin-right: 5px;
  }
  .input-group.top-search {
    width: 260px;
  }

  li.menu__item:not(:last-child) {
    margin-right: 35px;
  }
  .lang-top {
    width: 180px;
  }
} /*1800*/



@media only screen and (max-width: 1600px) {
  .lang-top {
    width: 170px;
  }

  select.minimal {
    width: 155px;
  }

  .label-radio-forma:not(:last-child) {
    margin-right: 10px;
  }

  .options2 .opt-radio-title {
    font-size: 11px;
  }

  .opt-select-title {
    font-size: 11px;
  }

  .opt-radio.opt-switch-img .opt-radio-title {
    font-size: 14px;
    margin-right: 5px;
  }
} /*1600*/

@media only screen and (max-width: 1580px) {
  li.menu__item:not(:last-child) {
    margin-right: 25px;
  }
} /*1580*/

@media only screen and (max-width: 1500px) {
  div#navbarNav {
    flex-wrap: wrap;
  }
  .input-group.top-search {
    flex-basis: 100%;
    margin-bottom: 1em;
  }

  li.menu__item:not(:last-child) {
    margin-right: 35px;
  }
} /*1500*/

@media only screen and (max-width: 1100px) {
  .lang-top {
    width: 170px;
    margin: 0 0 0 auto;
    margin-top: 1em;
  }
} /*1100*/

@media only screen and (max-width: 991.8px) {
  .pc-close-aside {
    display: none;
  }

  .menu {
    display: block;
  }

  /*mobile menu*/
  .menu {
    position: absolute;
    top: 10px;
    left: auto;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    right: 15px;
    border-radius: 0;
  }
  .menu.active:before {
    -webkit-animation: slideLeft 0.2s 0.05s ease-out forwards;
    animation: slideLeft 0.2s 0.05s ease-out forwards;
  }
  .menu.active:after {
    -webkit-animation: slideRight 0.2s 0.05s ease-out forwards;
    animation: slideRight 0.2s 0.05s ease-out forwards;
  }
  .menu.active .bar {
    -webkit-animation: rotate45 0.2s ease-out forwards;
    animation: rotate45 0.2s ease-out forwards;
  }
  .menu.active .bar:last-child {
    -webkit-animation: rotate135 0.2s 0.2s ease-out forwards;
    animation: rotate135 0.2s 0.2s ease-out forwards;
  }
  .menu.back:before {
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    -webkit-animation: slideBack 0.2s 0.05s ease-out forwards;
    animation: slideBack 0.2s 0.05s ease-out forwards;
  }
  .menu.back:after {
    -webkit-transform: translateX(120%);
    transform: translateX(120%);
    -webkit-animation: slideBack 0.2s 0.05s ease-out forwards;
    animation: slideBack 0.2s 0.05s ease-out forwards;
  }
  .menu.back .bar {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: rotateBack 0.2s ease-out forwards;
    animation: rotateBack 0.2s ease-out forwards;
  }
  .menu.back .bar:last-child {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-animation: rotateBack 0.2s 0.2s ease-out forwards;
    animation: rotateBack 0.2s 0.2s ease-out forwards;
  }
  .menu:before {
    content: "";
    display: block;
    width: 45px;
    height: 5px;
    background: #1870d5;
  }
  .menu:after {
    content: "";
    display: block;
    width: 45px;
    height: 5px;
    background: #1870d5;
  }
  .menu .bar {
    display: block;
    width: 45px;
    height: 5px;
    background: #1870d5;
    margin: 10px 0;
  }
  .menu .bar:last-child {
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 5px;
  }
  @-webkit-keyframes rotate135 {
    form {
      opacity: 1;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    to {
      opacity: 1;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  @keyframes rotate135 {
    form {
      opacity: 1;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    to {
      opacity: 1;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
  @-webkit-keyframes rotate45 {
    to {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  @keyframes rotate45 {
    to {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  @-webkit-keyframes rotateBack {
    to {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }
  @keyframes rotateBack {
    to {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }
  @-webkit-keyframes slideRight {
    to {
      -webkit-transform: translateX(122%);
      transform: translateX(122%);
    }
  }
  @keyframes slideRight {
    to {
      -webkit-transform: translateX(122%);
      transform: translateX(122%);
    }
  }
  @-webkit-keyframes slideLeft {
    to {
      -webkit-transform: translateX(-122%);
      transform: translateX(-122%);
    }
  }
  @keyframes slideLeft {
    to {
      -webkit-transform: translateX(-122%);
      transform: translateX(-122%);
    }
  }
  @-webkit-keyframes slideBack {
    to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes slideBack {
    to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  /*mobile menu*/

  #navbarNav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #fff;
    height: calc(100vh - 60px);
  }

  .input-group.top-search {
    margin: 0 auto;
    margin-top: 15px;
    width: 285px;
  }

  ul.navbar-nav {
    margin: 3em auto;
    width: max-content;
    text-align: center;
  }

  .lang-top {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 230px;
    margin-top: 3em;
  }

  nav.navbar.navbar-expand-lg {
    padding: 10px;
  }

  li.menu__item:not(:last-child) {
    margin-bottom: 1.5em;
    margin-right: 0;
  }

  .menu__item > a {
    font-size: 20px;
}

  .options-menu {
    display: block;
  }

  a.navbar-brand {
    width: 100%;
    max-width: 100%;
    margin: 0;
    min-width: auto;
  }

  .options-menu {
    width: 45px;
    position: absolute;
    top: 5px;
    left: 10px;
    cursor: pointer;
  }

  aside {
    margin: 0;
    position: absolute;
    left: -400px;
    z-index: 99;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1), 0px 2px 12px rgba(0, 0, 0, 0.1);
  }

  main {
    width: 100%;
    padding: 0 15px;
  }
  aside.opt-menu-show {
    left: 0;
    width: 320px;
    padding-left: 5px;
    padding-right: 5px;
  }
} /*991*/

@media only screen and (max-width: 767.8px) {
  .col-sm-6 {
    height: 12em;
  }

  .worked-on {
    text-align: center;
  }

  footer {
    padding: 25px 0 0;
  }
} /*767*/
